@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2? family= Wix+Madefor+Text & display=swap');

* {
    margin: 0%;
    padding: 0%;
}

body {
    box-sizing: border-box;
    font-family: 'Wix Madefor Text', 'Roboto', sans-serif;
    background-color: #101616;


}
.titulo_biblioteca{
    display: flex;
    justify-content: center;
    padding: 50px 0;
    border-bottom: 2px solid rgba(255, 255, 255, .5);
    color: white;
}
.titulo_biblioteca h1{
    color: white;
}

.contenedor {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.card {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}
.card:hover{
    cursor: pointer;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0,0,0,.4);
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card .back .link a {
    color: #f3f3f3;
}

.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
    font-size: 20px;
} 

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

/* ########################################################## ejercicio ############################################################# */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.wrapper{
    position: absolute;
    background: white;
    width: 90%;
    top: 5%;
    left: 50%;
    translate: calc(-50%);
    transform: scale(0);
    display: flex;
    flex-direction: column;
    clip-path: circle(2.1% at 50% 50%);
    transition: all ease-in-out .7s; 
}

.wrapper .container_products{
    overflow: hidden;
    
}

 .active_wrapper{
    transform: scale(1);
    clip-path: circle(70.7% at 50% 50%);
    transition: all ease-in-out .5s;
}

.wrapper .icon_close{
   
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: all ease-in-out .5s;  
}

.wrapper .icon_close:hover{
    cursor: pointer;
    background-color: red;
}

.wrapper .icon_close i{
    font-size: 45px;
}



:root {
	--primary-color: #c7a17a;
	--background-color: #e7e7e7;
	--dark-color: #151515;
}

html {
	font-size: 62.5%;
	font-family: 'Poppins', sans-serif;
    background-color: #101616;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.titulo{
    display: flex;
    justify-content: center;
    margin: 40px 0 20px 0 ;
    font-size: 30px;
    font-weight: 600;
    
}


  
.container_products {
    display: flex;
	flex-direction: column;
    padding: 60px 160px;
}
.card-product{
    width: 200px;
    background-color: #fff;
	padding: 2rem 3rem;
	border-radius: 0.5rem;
	cursor: pointer;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.bloque_ejercicio {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
	padding: 2rem 3rem;
	border-radius: 0.5rem;
	cursor: pointer;
	
}

.container-img {
	position: relative;
    width: 150px;
}

.container-img img {
	width: 100%;
}

.container-img .discount {
	position: absolute;
	left: 0;
	background-color: var(--primary-color);
	color: #fff;
	padding: 2px 1.2rem;
	border-radius: 1rem;
	font-size: 1.2rem;
}

.card-product:hover .discount {
	background-color: #000;
}

.button-group {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	position: absolute;
	top: 0;
	right: -3rem; 
	z-index: -1;
	transition: all 0.4s ease;
}

.button-group span {
	border: 1px solid var(--primary-color);
	padding: 0.8rem;

	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.4s ease;
}

.button-group span:hover {
	background-color: var(--primary-color);
}

.button-group span i {
	font-size: 1.5rem;
	color: var(--primary-color);
}

.button-group span:hover i {
	color: #fff;
}

.card-product:hover .button-group {
	z-index: 0;
	right: -1rem;
}

.content-card-product {
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(4, min-content);
	row-gap: 1rem;
}

.stars {
	grid-row: 1/2;
	grid-column: 1/-1;
}

.stars i {
	font-size: 1.3rem;
	color: var(--primary-color);
}

.content-card-product h3 {
	grid-row: 2/3;
	grid-column: 1/-1;

	font-weight: 400;
	font-size: 1.6rem;
	margin-bottom: 1rem;
	cursor: pointer;
}

.content-card-product h3:hover {
	color: var(--primary-color);
}

.add-cart {
	justify-self: start;
	border: 2px solid var(--primary-color);
	padding: 1rem;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.4s ease;

	display: flex;
	align-items: center;
	justify-content: center;
}

.add-cart:hover {
	background-color: var(--primary-color);
}

.add-cart i {
	font-size: 1.5rem;
	color: var(--primary-color);
}

.add-cart:hover i {
	color: #fff;
}

.content-card-product .price {
	justify-self: end;
	align-self: center;

	font-size: 1.7rem;
	font-weight: 600;
}

.content-card-product .price span {
	font-size: 1.5rem;
	font-weight: 400;
	text-decoration: line-through;
	color: #777;
	margin-left: 0.5rem;
}


.arrow{
    background-color: white;
    position: absolute;
    top: 40px;
    left: 40px ;
    padding: 10px 20px;
    border-radius: 15px;
  
}
.arrow i {
    color: #000;
    font-size: 40px ;
}

.arrow:hover{
    transition: all ease-in-out;
    cursor: pointer;
    background-color: #a8c947;
}







/* ############################################ ESTILOS DE LA CALCULADORA ######################################## */




  

.container {
    background-color: #1b201c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

h1 {
    text-align: center;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: white;
}

input, select, button {
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #218838;
}

#result {
    margin-top: 20px;
    display: none;
}

#result h2 {
    text-align: center;
    color: white;
}

#result p {
    color: white;
    font-size: 16px;
}
